section.slider
    .container.slider-cont
        .slide
           img.image.active(src=require('Images/banner1.png') alt='banner1')
           img.image(src=require('Images/banner2.png') alt='banner2')
           img.image(src=require('Images/banner3.png') alt='banner3')
        .dots
            button.dot.active
            button.dot
            button.dot
        a.promo.promo1(href='#') Change old book on new #[img(src=require('Svg/arrow.svg'))]
        a.promo.promo2(href='#') top 100 books 2022 #[img(src=require('Svg/arrow.svg'))]